:root {
   --color-primary :#D50000;
   --color-black: #707070;
}

html {
   scroll-behavior: smooth;
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

p {
   letter-spacing: 3 !important;
}


.site-navbar {
   width: 100%;
   height: 50px;
}

.site-navbar .navbar-brand {
   padding: 5px 20px;
   color: var(--color-primary);
   text-transform: uppercase;
   font-family: 'Big Shoulders Stencil Text', cursive;
}


/* ===== */
.site-portfolio {
   /* height: 90vh; */
   padding: 5em 0;
}

.site-portfolio .relative {
   cursor: pointer;
   transition: .6s;
   margin-top: 20px;
}

.site-portfolio h1 {
   font-family: 'Big Shoulders Display', 'Big Shoulders Stencil Text', cursive;
   letter-spacing: .6px;
   color: #004B7D ;
}

.site-portfolio p {
   font-family: 'Roboto', 'Inter', sans-serif;
   font-weight: 400;
   /* color: var(--color-primary); */
   margin-bottom: 2em;
   line-height: 18px;
}

@media (max-width: 576px) {
   .site-portfolio h1 {
      margin-bottom: 1em;
   }

}

.site-portfolio .relative {
   margin-bottom: 10px;
   transition: .6s;
   cursor: pointer;
}

.site-portfolio .relative:hover {
   transform: scale(1.02);
}

.image {
   display: block;
   width: 100%;
   height: 100%;
   box-shadow: 0 0 20px #707070;
}

.img-fluid {
   max-width: 100%;
   height: auto;
 }

.description-details {
   margin-top: 4em;
}

.description-details h5 {
   color: var(--color-primary);
   font-family: 'Big Shoulders Stencil Text', cursive;
   padding-bottom: 1px;
}


.description-details p .text-center {
   color: #707070 !important;
   font-size: 24px !important;
   text-align: center;
   font-family: 'Roboto' 'Inter', sans-serif;
   line-height: 1px;
   display: inline;
   
}

.detail-project {
   padding-top: 3em;
   padding-bottom: 3em;
}

.detail-project p {
   line-height: 1.6;
   font-size: 18px;
   margin-top: 15px;
   color: #4D4D4D ;
}

.container .thinking img {
   width: 100%;
}

.detail-project h4{
   font-family: 'Big Shoulders Display', 'Big Shoulders Stencil Text', cursive;
   color: var(--color-black);   
}

.detail-project h2 {
   color: var(--color-primary);
   font-family:'Big Shoulders Display', 'Big Shoulders Stencil Text', cursive;
   padding-bottom: 1px;
   font-weight: bold;
   margin-bottom: 18px;
}

.detail-project ul li {
   line-height: 1.8;
   font-size: 18px;
   font-family: 'Roboto' 'Inter', sans-serif !important;
   color: #4D4D4D ;
   
}



/* ================ Start Footer ================= */

.site-footer {
   padding: 3em 0;
}

.site-footer p:last-child {
   margin-bottom: 0;
}

.site-footer h2 {
   font-family: 'Big Shoulders Stencil Text', cursive;
   /* letter-spacing: .1rem; */
   color: var(--color-black);
}

.site-footer .social-item {
   display: inline-block;
   width: 60px;
   height: 60px;
   background: #333;
   position: relative;
   border-radius: 50%;
   font-size: 24px;
   margin: 0 10px;
}

.site-footer .social-item>span {
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   color: white;
}

.site-footer .social-item>span:hover {
   color: var(--color-primary);
}

.site-footer .copyright {
   font-family: 'Big Shoulders Stencil Text', cursive;
   letter-spacing: 1px;
}
/* ============ End Footer =============== */
